{% extends 'base.html' %}
<!--Getter/Presenter-->

{% block head %}
<title>Study Buddies</title>
{% endblock %}

{% block body %}
<div class="content">


    <h1 style="text-align: center">Study Buddies</h1>
    <h2 style="text-align: center">Profile</h2>

    <div class="form">
        <form action="/profile" method = "POST">
            <h3>Name</h3>
            <input type="email" name="email" id="email">

            <h3>Password</h3>
            <input type="password" name="password" id="password">


            <input type="submit" value="Submit">
        </form>
    </div>

</div>
{% endblock %}